@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #080808;
  color: #f0f0f0;
  font-family: 'Syne', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.grid-bg {
  background-color: #080808;
  background-image: 
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}